aside {
  &.event {
    padding: calc(5vh + 10px) 0 100px 0;
    background: #fff;
    .event_content {
    padding: 10px 4vw 10px 4vw;
      background: #fff;
      margin: 0 0 0;
      .card_wrap{
                box-shadow: 0px 0px 5px 5px #ececec;
                border-radius: 8px;
                margin: 0 0 10px 0;
                &.active{
                  .card{
                    .detail_wrap{
                      .icon{
                        transform: rotate(180deg);
                      }
                    }
                    
                  }
                  .card_inner{
                    display: block;
                  }
                }
              .card {
                position: relative;
                &:before {
                  content: "";
                  position: absolute;
                  width: 0;
                  height: 0;
                  border-style: solid;
                  border-width: 0 5px 5px 0px;
                  border-color: transparent #472424 transparent;
                  top: 28px;
                  left: -5px;
                }
                .new {
                  background: #d14040;
                  background: linear-gradient(to bottom, #e45252 0%, #b43434 100%);
                  width: auto;
                  line-height: 1;
                  clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
                  color: #fff;
                  font-style: italic;
                  display: inline-block;
                  padding: 5px 20px 4px 15px;
                  font-size: 12px;
                  position: absolute;
                  top: 8px;
                  left: -5px;
                }
                .time_wrap {
                  background: #fff;
                  position: absolute;
                  bottom: 9px;
                  font-size: 12px;
                  color: #4d515d;
                  border-radius: 0 12px 12px 0;
                  padding: 0 12px 2px 12px;
                  .icon {
                    background: url(../images/event/clock.png) no-repeat;
                    background-size: 100%;
                    background-position: center;
                    width: 12px;
                    height: 12px;
                    display: inline-block;
                    line-height: 1;
                    vertical-align: middle;
                    margin: 0 3px 0 0;
                   
                  }
                  p {
                    display: inline-block;
                    line-height: 1;
                    vertical-align: middle;
                  }
                }
                .detail_wrap {
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  background: linear-gradient(to bottom, #546ce6 0%, #1c3380 100%);
                  color: #fff;
                  border-radius: 8px 0 8px 0;
                  font-size: 12px;
                  letter-spacing: 1px;
                  line-height: 12px;
                  padding: 5px 5px 5px 10px;
                  width: 82px;
                  p {
                    line-height: 1;
                    margin: 0 5px 0 0;
                    width: 52px;
                    text-align: center;
                    display: inline-block;
                  }
                  .icon {
                    background: url(../images/icon/arrows_blue.png) no-repeat;
                    background-size: 100%;
                    background-position: center;
                    width: 10px;
                    height: 10px;
                    transition: all 0.2s ease-in-out;
                    display: inline-block;
                    float: right;
                    line-height: 12px;
                  }
                }
              }
              .card_inner {
                display: none;
                padding: 0 0 10px 0;
                h1 {
                    text-align: center;
                    color: #cfa37b;
                    padding: 20px 0 10px 0;
                    font-size: 18px;
                }
                .subtitle_wrap{
                    color: #4d515d;
                    padding: 0 0 0 10px;
                }
                h2{
                    text-align: center;
                    color: #d2aa85;
                    padding: 20px 0 10px 0;
                    font-size: 17px;
                }
                .detail_wrap{
                    li{
                        padding: 0 0 0 25px;
                        margin: 0 0 10px 0;
                        color: #987657;
                        position: relative;
                        font-size: 14px;
                        &:before{
                            content: '';
                            position: absolute;
                            top: 8px;
                            left: 14px;
                            width: 6px;
                            height: 6px;
                            background: #987657;
                            border-radius: 8px;
                        }
                    }
                }
              }
      }
      
    }
  }
}
