.en_name{
    font-family: Bahnschrift;
}

aside{
    ul{
        li{
            section{
                &.content{
                    span{
                        &.time_more{
                            div{
                                &.icon_live{
                                    &.yet.yet.yet{
                                        background: url(../images/market/tv_icon_y.png)no-repeat;
                                        background-size: cover;
                                        background-position: center center;
                                    }
                                }
                            }
                        }
                        &.num_group{
                            div{
                                &.esport_w.esport_w.esport_w{
                                    width: calc(50% - 10vw);
                                    margin: 0;
                                    span{
                                        margin: 5px 0 5px 0;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}