main{
    div{
        &.double_mode{
            width: 100%;
            position: fixed;
            bottom: 0px;
            height: 15vh;
            z-index: 1;
            background: #959dc5;
            border-top-left-radius: 20px 20px;
            border-top-right-radius: 20px 20px;
            text-align: center;
            span{
                display: inline-block;
                &.box{
                    width: 86vw;
                    height: 8vh;
                    margin: 0 auto;
                    display: flex;
                    justify-content: space-between;
                    color: #fff;
                    div{
                        &.langth,&.balance{
                            width: 50%;
                        }
                        &.langth{
                           text-align: left;
                            line-height: 8vh;
                           p{
                            display: inline-block;
                           }
                           span{
                               &.num{
                                font-size: 16px;
                                font-weight:bold;
                                color: #959dc5;
                                background: #fff;
                                height: 23px;
                                width: 23px;
                                text-align: center;
                                line-height: 23px;
                               border-radius: 100%;
                               margin: 0 3px 0 0;
                               }
                              
                           }
                           p{
                               line-height: 1;
                               vertical-align: middle;
                               font-size: 2vh;
                           }
                        }
                        &.balance{
                            text-align: right;
                            padding: 2vh 0 0 0;
                            p{
                                font-size: 2vh;
                                &.currency{
                                        font-size: 1.2vh;
                                }
                                &.cash{
                                    font-size: 3vh;
                                    font-weight: bold;
                                }
                            }
                            span{
                                &.double_arrow{
                                    height: 13px;
                                    width: 13px;
                                    background: url(../images/double_arrow.png)no-repeat;
                                    background-position: center center;
                                    background-size: cover;
                                    vertical-align: text-top;
                                    margin: 0 0 0 5px;
                                }
                            }
                            p,span{
                                display: inline-block;
                                line-height: 1;
                                vertical-align: sub;
                            }
                        }
                    }
                }
            }
    
        }
    }
    
}