aside {
  &.my_windows_help {
      padding: calc(5vh + 10px) 0 100px 0;
      width: 100vw;
      height: calc(100vh - 5vh - 10px);
      background: #f7f7f7;
      z-index: 0;
      display: inline-block;
      position: fixed;
      overflow-y:scroll;

    ul {
      &.content {
        padding: 0 3vw 0 3vw;
        background: #fff;
        margin: 1vh 0 0 0;
        &:first-child {
          margin: 0 0 0 0;
        }
        .bold {
          font-weight: bold;
        }
        li {
          line-height: 50px;
          overflow: auto;
          border-bottom: 1px solid #e0e3f3;
          position: relative;
          &:last-child {
            border-bottom: none;
          }
          div {
            display: inline-block;
            &.icon {
              background: url(../images/help_icon.png) no-repeat;
              background-size: cover;
              background-position: 0 0;
              width: 23px;
              height: 23px;
              vertical-align: middle;
              margin: 13.5px 15px 0 0;
              float: left;
              &.i1 {
                background-position: 0 0;
              }
              &.i2 {
                background-position: -23px 0;
              }
              &.i3 {
                background-position: -46px 0;
              }
              &.i4 {
                background-position: -69px 0;
              }
              &.i5 {
                background-position: -92px 0;
              }
              &.i6 {
                background-position: -115px 0;
              }
              &.i7 {
                background-position: -138px 0;
              }
              &.i8 {
                background-position: -161px 0;
              }
            }
            &.arrow {
              background: url(../images/icon/arrow_lg.png) no-repeat;
              background-size: 100%;
              background-position: center;
              width: 7px;
              height: 14px;
              vertical-align: middle;
              float: right;
              margin: 18px 0 0 8px;
            }
          }
          p {
            display: inline-block;
            vertical-align: middle;
            &.subtitle {
              float: right;
              color: #838ba0;
            }
            &.title {
              float: left;
              color: #4d515d;
            }
          }
        }
      }
    }
  }
  &.my_windows_help_inner {
      padding: calc(5vh + 10px) 0 100px 0;
      width: 100vw;
      height: calc(100vh - 5vh - 10px);
      background: #f7f7f7;
      z-index: 0;
      display: inline-block;
      position: fixed;
      overflow-y:scroll;
    ul {
      &.content {
        padding: 0 4vw;
        background: #fff;
        li {
          &.title {
            font-weight: bold;
            padding: 15px 0 15px 0;
            border-bottom: 1px solid #e0e3f3;
            color: #4d515d;
          }
          &.content{
            p{
              color: #4d515d;
              padding: 15px 0 0 0;
            }
          }
        }
      }
    }
  }
}
