aside {
  &.my_windows_mb_take_out {
    padding: calc(5vh + 10px) 0 100px 0;
    width: 100vw;
    height: calc(100vh - 5vh - 10px);
    background: #f7f7f7;
    z-index: 0;
    display: inline-block;
    position: fixed;
    overflow-y: scroll;
    div {
      &.content {
        width: 100vw;
        padding: 0 3vw 0 3vw;
        background: #fff;
        ul {
          li {
            border-bottom: 1px solid #e0e3f3;
            padding: 3vw 0 3vw 0;
            overflow: auto;
            &:last-child {
              border-bottom: none;
              
            }
            input {
              border: 1px solid #e0e3f3;
              color: #4d515d;
              border-radius: 4px;
              padding: 2vw 0 2vw 2vw;
            }
            p {
              display: inline-block;
              font-size: 4.3vw;
              &:first-child {
                color: #4d515d;
                width: 22vw;
                padding: 0 0 0 2vw;
                font-weight: bold;
              }
              &.w_auto{
                width: auto;
                margin: 0 4vw 0 0;
              }
              &.gray{
                color: #838ba0;
              }
              &.copy{
                float: right;
                color: #959dc5;
                border: 1px solid #959dc5;
                border-radius: 4px;
                padding: 2px 8px 2px 8px;
                line-height: 16px;
                margin: 0 8px 0 0;
                letter-spacing: 1px;
                &:hover,&:active,&.active{
                  color: #fff;
                  background: #959dc5;
                }
              }
            }
          }
        }
      }
      &.btn_area {
        text-align: center;
        padding: 3vw 3vw 0 3vw;
        button {
          width: 100%;
          margin: 0 0 2vw 0;
          padding: 3vw 0 3vw 0;
          background: #fff;
          border: none;
          color: #bec2cc;
          font-size: 5vw;
          border-radius: 8px;
          font-weight: bold;
          &.active {
            background: linear-gradient(to right, #99a6e3 0%, #485cc4 100%);
            color: #fff;
          }
        }
        p {
          display: inline-block;
          color: #838ba0;
          font-size: 4vw;
        }
      }
      &.note {
        background: #fff;
        margin: 22px 3vw 0 3vw;
        padding: 3vw;
        border-radius: 8px;
        h1 {
          font-size: 4.5vw;
          color: #4d515d;
        }
        p {
          font-size: 4vw;
          color: #838ba0;
          line-height: 27px;
        }
      }
    }
  }
}
