aside {
  &.my_windows_help {
    padding: calc(5vh + 10px) 0 100px 0;
    width: 100vw;
    height: calc(100vh - 5vh - 10px);
    background: #f7f7f7;
    z-index: 0;
    display: inline-block;
    position: fixed;
    overflow-y: scroll;

    ul {
      &.content {
        padding: 0 3vw 0 3vw;
        background: #fff;
        margin: 1vh 0 0 0;
        &:first-child {
          margin: 0 0 0 0;
        }
        .bold {
          font-weight: bold;
        }
        li {
          line-height: 50px;
          overflow: auto;
          border-bottom: 1px solid #e0e3f3;
          position: relative;
          &:last-child {
            border-bottom: none;
          }
          div {
            display: inline-block;
            &.icon {
              background: url(../images/help_icon.png) no-repeat;
              background-size: cover;
              background-position: 0 0;
              width: 23px;
              height: 23px;
              vertical-align: middle;
              margin: 13.5px 15px 0 0;
              float: left;
              &.i1 {
                background-position: 0 0;
              }
              &.i2 {
                background-position: -23px 0;
              }
              &.i3 {
                background-position: -46px 0;
              }
              &.i4 {
                background-position: -69px 0;
              }
              &.i5 {
                background-position: -92px 0;
              }
              &.i6 {
                background-position: -115px 0;
              }
              &.i7 {
                background-position: -138px 0;
              }
              &.i8 {
                background-position: -161px 0;
              }
            }
            &.arrow {
              background: url(../images/icon/arrow_lg.png) no-repeat;
              background-size: 100%;
              background-position: center;
              width: 7px;
              height: 14px;
              vertical-align: middle;
              float: right;
              margin: 18px 0 0 8px;
            }
          }
          p {
            display: inline-block;
            vertical-align: middle;
            &.subtitle {
              float: right;
              color: #838ba0;
            }
            &.title {
              float: left;
              color: #4d515d;
            }
          }
        }
      }
    }
  }
  &.my_windows_help_inner {
    padding: calc(5vh + 10px) 0 100px 0;
    width: 100vw;
    height: calc(100vh - 5vh - 10px);
    background: #fff;
    z-index: 0;
    display: inline-block;
    position: fixed;
    overflow-y: scroll;
    ul {
      &.content {
        padding: 0 4vw;
        background: #fff;
        li {
          &.title {
            font-weight: bold;
            padding: 15px 0 15px 0;
            border-bottom: 1px solid #e0e3f3;
            color: #4d515d;
          }
          &.content {
            p {
              color: #4d515d;
              padding: 15px 0 0 0;
            }
          }
        }
      }
    }

    //以下為圖文說明
    ul {
      &.question_wrap {
        padding: 0 4vw 0;
        li {
          margin: 0 0 24px;
          .wrap {
            display: inline-block;
            margin: 0 0 4px;
            line-height: 20px;
            p {
              display: inline-block;
              color: #4d515d;
            }
            .red {
              display: inline-block;
              color: #d32542;
            }
          }
          span {
            display: block;
            width:300px;
            margin: 0 auto;
            &.q1_stage_1 {
              background: url(./../images/question/q1_st1.png) no-repeat;
              background-size: 100%;
              height: 380px;
            }
            &.q1_stage_2 {
              background: url(./../images/question/q1_st2.png) no-repeat;
              background-size: 100%;
              height: 582px;
            }
            &.q1_stage_3 {
              background: url(./../images/question/q1_st3.png) no-repeat;
              background-size: 100%;
              height: 160px;
            }
            &.q2_stage_1 {
              background: url(./../images/question/q2_st1.png) no-repeat;
              background-size: 100%;
              height: 120px;
            }
            &.q2_stage_2 {
              background: url(./../images/question/q2_st2.png) no-repeat;
              background-size: 100%;
              height: 120px;
            }
            &.q2_stage_3 {
              background: url(./../images/question/q2_st3.png) no-repeat;
              background-size: 100%;
              height: 175px;
            }
            &.q2_stage_4 {
              background: url(./../images/question/q2_st4.png) no-repeat;
              background-size: 100%;
              height: 420px;
            }
            &.q2_stage_5 {
              background: url(./../images/question/q2_st5.png) no-repeat;
              background-size: 100%;
              height: 402px;
            }
            &.q3_stage_1 {
              background: url(./../images/question/q3_st1.png) no-repeat;
              background-size: 100%;
              height: 120px;
            }
            &.q3_stage_2 {
              background: url(./../images/question/q3_st2.png) no-repeat;
              background-size: 100%;
              height: 120px;
            }
            &.q3_stage_3 {
              background: url(./../images/question/q3_st3.png) no-repeat;
              background-size: 100%;
              height: 245px;
            }
            &.q3_stage_4 {
              background: url(./../images/question/q3_st4.png) no-repeat;
              background-size: 100%;
              height: 125px;
            }
            &.q3_stage_5 {
              background: url(./../images/question/q3_st5.png) no-repeat;
              background-size: 100%;
              height: 368px;
            }
            &.q3_stage_6 {
              background: url(./../images/question/q3_st6.png) no-repeat;
              background-size: 100%;
              height: 362px;
            }
            &.q4_stage_1 {
              background: url(./../images/question/q4_st1.png) no-repeat;
              background-size: 100%;
              height: 76px;
            }
            &.q4_stage_2 {
              background: url(./../images/question/q4_st2.png) no-repeat;
              background-size: 100%;
              height: 133px;
            }
            &.q4_stage_3 {
              background: url(./../images/question/q4_st3.png) no-repeat;
              background-size: 100%;
              height: 194px;
            }
            &.q4_stage_4 {
              background: url(./../images/question/q4_st4.png) no-repeat;
              background-size: 100%;
              height: 392px;
            }
            &.q4_stage_5 {
              background: url(./../images/question/q4_st5.png) no-repeat;
              background-size: 100%;
              height: 238px;
            }
            &.q5_stage_2 {
              background: url(./../images/question/q5_st2.png) no-repeat;
              background-size: 100%;
              height: 132px;
            }
            &.q5_stage_3 {
              background: url(./../images/question/q5_st3.png) no-repeat;
              background-size: 100%;
              height: 162px;
            }
            &.q5_stage_4 {
              background: url(./../images/question/q5_st4.png) no-repeat;
              background-size: 100%;
              height: 228px;
            }
            &.q5_stage_5 {
              background: url(./../images/question/q5_st5.png) no-repeat;
              background-size: 100%;
              height: 316px;
            }
            &.q5_stage_6 {
              background: url(./../images/question/q5_st6.png) no-repeat;
              background-size: 100%;
              height: 132px;
            }
            &.q6_stage_4 {
              background: url(./../images/question/q6_st4.png) no-repeat;
              background-size: 100%;
              height: 538px;
            }
            &.q6_stage_5 {
              background: url(./../images/question/q6_st5.png) no-repeat;
              background-size: 100%;
              height: 485px;
            }
            &.q7_stage_6 {
              background: url(./../images/question/q7_st6.png) no-repeat;
              background-size: 100%;
              height: 268px;
            }
            &.q7_stage_7 {
              background: url(./../images/question/q7_st7.png) no-repeat;
              background-size: 100%;
              height: 412px;
            }
            &.q8_stage_6 {
              background: url(./../images/question/q8_st6.png) no-repeat;
              background-size: 100%;
              height: 268px;
            }
            &.q8_stage_7 {
              background: url(./../images/question/q8_st7.png) no-repeat;
              background-size: 100%;
              height: 514px;
            }
            &.q9_stage_4 {
              background: url(./../images/question/q9_st4.png) no-repeat;
              background-size: 100%;
              height: 538px;
            }
            &.q9_stage_5 {
              background: url(./../images/question/q9_st5.png) no-repeat;
              background-size: 100%;
              height: 630px;
            }
            &.q10_stage_4 {
              background: url(./../images/question/q10_st4.png) no-repeat;
              background-size: 100%;
              height: 538px;
            }
            &.q11_stage_3 {
              background: url(./../images/question/q11_st3.png) no-repeat;
              background-size: 100%;
              height: 168px;
            }
            &.q11_stage_4 {
              background: url(./../images/question/q11_st4.png) no-repeat;
              background-size: 100%;
              height: 242px;
            }
            &.q11_stage_5 {
              background: url(./../images/question/q11_st5.png) no-repeat;
              background-size: 100%;
              height: 98px;
            }
          }
        }
      }
    }
  }
}
