aside{
    &.my_windows_set {
        width: 100vw;
        height: 100vh;
        background: #f7f7f7;
        z-index: 400;
        display: inline-block;
        position: fixed;
        transform: translateX(100%);
        transition: all 0.4s ease-in-out;
        &.active {
          transform: translateX(0%);
        }
        div {
          &.header {
            margin: 0 0 1vh 0;
            background: #fff;
            text-align: center;
            font-size: 18px;
            padding: 10px 0 5px 0;
            border-bottom-left-radius: 20px 20px;
            border-bottom-right-radius: 20px 20px;
            box-shadow: 0 2px 3px 0 #e2e2e2;
          }
          &.row_btn {
            background: #fff;
            line-height: 15vw;
            padding: 0 3vw 0 3vw;
            margin: 0 0 13px 0;
            position: relative;
            &:first-child {
              margin: 14px 0 0 0;
            }
            &.line {
              margin: 0 0 1px 0;
              &:before {
                content: "";
                position: absolute;
                bottom: -1px;
                left: 50%;
                transform: translateX(-50%);
                width: 94vw;
                height: 1px;
                background: #e0e3f3;
              }
            }
            span {
              display: inline-block;
            }
            div {
              &.box {
                display: inline-block;
                float: right;
                div {
                  &.check {
                    display: inline-block;
                    height: 4vh;
                    line-height: 4vh;
                    width: 34vw;
                    background: #737997;
                    vertical-align: middle;
                    border-radius: 20px;
                    padding: 0 2px;
                    span {
                      display: inline-block;
                      font-size: 2vw;
                      border-radius: 20px;
                      line-height: calc(4vh - 4px);
                      height: calc(4vh - 4px);
                      width: 15vw;
                      text-align: center;
                      &.active {
                        background: #fff;
                        p {
                          color: #4d515d;
                        }
                      }
                      &.p_left {
                        top: 2px;
                        position: relative;
                        float: left;
                      }
                      &.p_right {
                        top: 2px;
                        position: relative;
                        float: right;
                      }
                      p {
                        display: inline-block;
                        vertical-align: middle;
                        line-height: 1;
                        color: #fff;
                        float: none;
                        font-size: 3vw;
                      }
                    }
                  }
                }
              }
              &.box_empty {
                display: inline-block;
                float: right;
                div {
                  &.check {
                    display: inline-block;
                    height: 7vw;
                    line-height: 7vw;
                    background: #737997;
                    vertical-align: middle;
                    border-radius: 20px;
                    padding: 0 2px;
                    width: 13vw;
                    span {
                      &.switch {
                        position: relative;
                        top: 2px;
                        width: calc(7vw - 4px);
                        height: calc(7vw - 4px);
                        background: #fff;
                        border-radius: 20px;
                        transition: all 0.3s ease-in-out;
                        &.active {
                          transform: translateX(calc(13vw - 7vw));
                        }
                      }
                    }
                  }
                }
              }
            }
            p {
              display: inline-block;
              font-size: 4.3vw;
              &.dark_blue.dark_blue {
                color: #4d515d;
              }
              &:first-child {
                color: #4d515d;
                span {
                  
                }
              }
              &:last-child {
                color: #838ba0;
                line-height: 15vw;
                float: right;
                span {
                  &.arrow {
                    display: inline-block;
                    width: 3vw;
                    height: 5vw;
                    position: relative;
                    background: url(../images/arrow_lg.png) no-repeat;
                    background-size: cover;
                    background-position: center center;
                    margin: 0 0 0 3vw;
                    line-height: 1;
                    vertical-align: sub;
                  }
                }
              }
            }
          }
          &.get_out {
            width: 100%;
            text-align: center;
            background: #fff;
            line-height: 15vw;
            position: relative;
            color: #4d515d;
            font-size: 4.3vw;
          }
        }
      }
}