aside{
    &.my_windows_bet_record {
        margin: calc(5vh + 10px) 0 0 0;
        width: 100vw;
        height: calc(100vh - (5vh + 10px));
        background: #f7f7f7;
        z-index: 0;
        display: inline-block;
        position: relative;
       
        transition: all 0.4s ease-in-out;
       
        div {
          &.title {
            background: #fff;
            padding: 5vh 3vw 0 3vw;
            margin: -5vh 0 0 0;
            display: flex;
            div {
              &.tack {
                background: #f7f8fc;
                margin: 0 3vw 3vw 0;
                padding: 1vw 3vw 1vw 3vw;
                border-radius: 30px;
                p {
                  font-size: 4vw;
                  padding: 1vw;
                  line-height: 4vw;
                  position: relative;
                  color: #4d515d;
                  span {
                    display: inline-block;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 5px 5px 0 5px;
                    border-color: #a4a7ae transparent transparent transparent;
                    vertical-align: middle;
                    margin: 0 0 0 1.5vw;
                  }
                }
              }
            }
          }
          &.content {
            height: calc(100vh - (5vh + 14vw));
            .empty_page {
              display: flex;
              flex-direction: column;
              justify-content: flex-start;
              align-items: center;
              
              .empty_icon {
                background: url(../images/bet_record_empty.png) no-repeat;
                background-size: 100%;
                background-position: center;
                width: 50vw;
                height: 50vw;
                margin: 40vw 0 0 0;
              }
              p {
                color: #838ba0;
                font-size: 4vw;
                margin: 4vw 0 8vw 0;
              }
              button {
                color: #fff;
                background: linear-gradient(to right, #9aa6e3 0%, #485cc4 100%);
                border: none;
                border-radius: 3px;
                font-size: 4vw;
                padding: 2vw 10vw;
              }
            }
            ul{
              &.record{
                margin: 20px 3vw 0 3vw;
                width: 94vw;
                border:1px solid #9ba1c5;
                border-radius: 8px;
                li{
                  padding: 10px 10px 10px 10px;
                  &.title{
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid #e0e3f3;
                    p{
                      &:first-child{
                        color: #d46571;
                      }
                      &:last-child{
                        color: #838b9f;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
}