aside {
  &.my_windows_bet_record {
    padding: 0 0 100px 0;
    width: 100vw;
    height: calc(100vh - 5vh - 10px);
    background: #f7f7f7;
    z-index: 0;
    display: inline-block;
    position: fixed;

    div {
      &.content {
        height: calc(100vh - (5vh + 64px));
        margin: calc(5vh + 64px) 0 0 0;
        overflow-y: scroll;
        padding: 0 0 100px 0;
        .empty_page {
          text-align: center;
          .empty_icon {
            background: url(../images/my_mb/gift_record_empty.png) no-repeat;
            background-size: 100%;
            background-position: center;
            width: 50vw;
            height: 50vw;
            margin: 40vw auto 0 auto;
          }
          p {
            color: #838ba0;
            font-size: 4vw;
            margin: 4vw 0 8vw 0;
            display: inline-block;
            width: 100%;
          }
          button {
            color: #fff;
            background: linear-gradient(to right, #9aa6e3 0%, #485cc4 100%);
            border: none;
            border-radius: 3px;
            font-size: 4vw;
            padding: 2vw 10vw;
          }
        }
      }
    }
  }
  &.delete_windows {
    ul {
      background: #fff;
      overflow: hidden;
      width: 88%;
      margin: 20vh auto 0 auto;
      border-radius: 12px;
      h1 {
        text-align: center;
        line-height: 1;
        background: #959dc5;
        padding: 12px 0 10px 0;
        p {
          color: #fefeff;
          font-weight: normal;
        }
      }
      li {
        color: #4d515d;
        font-size: 14px;
        &:nth-child(2) {
          background: #f6f8ff;
        }
        &:nth-child(4) {
          background: #f6f8ff;
        }
        .wrap {
          display: inline-block;
          line-height: 1;
          padding: 12px 0px 12px 12px;
          width: 28%;
        }
        .wrap2 {
          display: inline-block;
          line-height: 1;
          padding: 12px 0px 12px 12px;
          width: auto;
          color: #838ba0;
          white-space: nowrap;
        }
        .blue {
          display: inline-block;
          color: #556de7;
        }
      }
      .btn_group {
        line-height: 38px;
        border-top: 1px solid #e0e3f3;
        white-space: nowrap;
        position: relative;
        &:before {
          content: "";
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          height: 100%;
          width: 1px;
          background: #e0e3f3;
        }
        button {
          width: 50%;
          border: none;
          background: none;
          color: #4d515d;
          font-size: 14px;
          letter-spacing: 8px;
        }
      }
    }
  }
}
