
section {
  &.message_type {
    padding: 6vh 0 0 0;
    background: #fff;
    box-shadow: 0 2px 4px 0 #e4e4e4;
    position: fixed;
    width: 100%;
    z-index: 2;
    ul {
      padding: 0 3vw 0 3vw;
      white-space: nowrap;
      
      li {
        width: 24%;
        text-align: center;
        font-size: 18px;
        color: #838ba0;
        padding: 5px 0 7px 0;
        position: relative;
        display: inline-block;
        &:first-child{
          float: left;
        }
        &:last-child{
          float: right;
        }
        
        &:hover,
        &:active,
        &.active {
          border-bottom: 3px solid #7c87bc;
          font-weight: bold;
          color: #4d515d;
        }
      }
      span {
        &.yet_ready {
          position: absolute;
          top: 0;
          right: 0;
          text-align: center;
          background: #f30d0d;
          line-height: 1;
          color: #fff;
          font-size: 12px;
          padding: 1px 6px 1px 6px;
          border-radius: 6px;
        }
      }
    }
  }
  &.message{
    &.content {
       
        // margin: 1vh 0 0 0; 
        // padding: calc(7vh + 42px) 0 0px 0;
        height: calc(100vh - (7vh + 42px)); 
      }
    &.message_inner{
        margin: 6vh 0 0 0;
        background: #fff;
    }
      ul {
        padding: 0 3vw 60px 3vw;
        overflow-y: scroll;
        background: #fff;
        // margin: 42px 0 0px 0;
        li {
       
          padding: 10px 0 10px 0;
          border-bottom: 1px solid #e0e3f3;
          position: relative;
          height: 80px;
          line-height: 59px;
          text-align: right;
          &.inner_content{
            border-bottom:none;
            color: #4d515d;
            line-height: 20px;
            height: auto;
            text-align: left;
          }
          &.editing{
            .edit_p{
              display: block;
            }
            .box{
              width: 75%;
            }
          }
          &.yet_ready {
            &:before {
              content: "";
              position: absolute;
              width: 9px;
              height: 9px;
              background: #f30d0d;
              right: 0vw;
              bottom: 30px;
              border-radius: 10px;
            }
          }
          div {
            &.edit_p{
              display: none;
              width: 20px;
              height: 20px;
              border-radius: 100px;
              border:1px solid #c7cbe0;
              background: none;
              position: absolute;
              left: 0;
              top: 50%;
              transform: translateY(-50%);
              &:hover,&:active,&.active{
                background: #a0b0ff;
                &:before{
                  content: '';
                  position: absolute;
                  left: 5px;
                  top: 30%;
                  -webkit-transform: translateY(-50%);
                  -ms-transform: translateY(-50%);
                  transform: translateY(-50%) rotate(45deg);
                  width: 8px;
                  height: 12px;
                  border-right: solid 1px #fff;
                  border-bottom: solid 1px #fff;
                }
                

              }
            }
            &.icon {
              background: url(../images/icon/message_horn.png) no-repeat;
              background-size: 100%;
              background-position: center center;
              width: 35px;
              height: 35px;
              margin: 0 10px 0 0;
              display: inline-block;
              vertical-align: middle;
            }
            &.box {
              width: 80%;
              display: inline-block;
              text-align: left;
              vertical-align: middle;
              line-height: 1;
              position: relative;
              &.inner{
                width: 100%;
              }
              h1 {
                color: #4d515d;
                position: relative;
                display: inline-block;
                line-height: 1;
                margin: 0 0 10px 0;
                &.important {
                  &:before {
                    content: "重要";
                    position: absolute;
                    right: -38px;
                    top: 50%;
                    transform: translateY(-50%);
                    color: #f30d0d;
                    font-size: 12px;
                    line-height: 1;
                    vertical-align: bottom;
                    border: 1px solid #f30d0d;
                    padding: 1px 4px 1px 4px;
                    border-radius: 3px;
                  }
                }
              }
              p {
                color: #838ba0;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                line-height: 1;
                display: block;
              }
            }
            &.time {
              white-space: nowrap;
              position: absolute;
              right: 3vw;
              top: 0px;
              color: #838ba0;
              font-size: 12px;
             
              
            }
          }
        }
      }
  }
  &.waitting{
    text-align: center;
    margin: calc(6vh + 42px) 0 0 0;
      .watting_icon{
          background: url(../images/message_page/wait.gif)no-repeat;
          background-size: 100%;
          background-position: center;
          width: 23px;
          height: 24px;
          display: inline-block;
          margin: calc(1vh + 10px) 0 10px 0;
      }
  }
  &.game_message_type{
    background: #fff;
    padding: 10px 3vw 10px 3vw;
    border-bottom: 1px solid #e0e3f3;
    .warp{
        padding: 1px;
        background: #cdd0dd;
        border-radius: 8px;
        font-size: 16px;
        font-weight: bold;
        overflow: auto;
        div{
            width: 50%;
            text-align: center;
            color: #838ba0;
            border-radius: 8px;
            &:first-child{
              float: left;
            }
            &:last-child{
              float: right;
            }
            &.active,
            &:hover,
            &:active{
                background: #fff;
                color: #4d515d;
            }
        }
    }
  }
  &.game_message_content{
    background: #fff;
    height: calc(100vh - (6vh + 42px + 47px));
    overflow-y: scroll;
    ul{
        li{
            padding: 11px 25px 11px 25px;
            border-bottom: 1px solid #e0e3f3;
            .top_warp{
                line-height: 18px;
                margin: 0 0 12px 0;
                h1{
                    color: #4d515d;
                    font-size: 18px;
                    display: inline-block;
                }
                p{
                    color: #838ba0;
                    font-size: 12px;
                    vertical-align: bottom;
                    float: right;
                }
            }
            p{
                &.content{
                    display: inline-block;
                    // padding: 0 5px 0 0;
                    color: #4d515d;
                    font-weight: lighter;
                    letter-spacing: 0.1px;
                }
            }
        }
    }
  }
  &.game_message_empty{
    height: calc(100vh - (7vh + 42px + 47px));
    overflow-y: scroll;
    text-align: center;
    .empty_icon{
        background: url(../images/message_page/game_message_empty.png)no-repeat;
        background-size: 100%;
        background-position: center;
        width: 200px;
        height: 200px;
        display: inline-block;
        margin: 50px 0 0 0;
    }
    p{
        color: #838ba0;
        font-weight: lighter;
        margin: 0 0 20px 0;
    }
    button{
        display: inline-block;
        font-size: 16px;
        color: #fff;
        border:none;
        background: linear-gradient(to right ,#9ba8e4 0%, #485cc4 100%);
        border-radius: 8px;
        padding: 10px 40px 10px 40px;
    }
  }
}
aside{
  &.edit{
    display: none;
    position: fixed;
    bottom: 0;
    background: #f7f7f7;
    width: 100%;
    line-height: 40px;
    padding: 10px 12px 10px;
    font-size: 17px;
    &.active{
      display: block;
    }
    p{
      display: inline-block;
      line-height: 40px;
      &.readed{
        float: left;
        color: #7685d5;
      }
      &.delete{
        float: right;
        color: #f30d0d;
      }
    }
  }
  &.inner_edit{
    .wrap{
      position: absolute;
      bottom: 0;
      background: #f8f8f8;
      width: 100%;
      text-align: center;
      p{
        display: block;
        padding: 10px 0 10px;
        background: #fff;
        font-size: 20px;
        &.delete{
          color: #f30d0d;
          margin: 0 0 10px;
        }
        &.cancel{
          color: #4d515d;
        }
      }
    }
  }
}