header {
  ul {
    &.login {
      background: transparent;
      box-shadow: none;
      li {
        &.title {
          color: #fff;
        }
        &.close {
          width: 17px;
          height: 17px;
          float: left;
          position: relative;
          &:before {
            content: "";
            position: absolute;
            background: #fff;
            width: 2px;
            height: 100%;
            transform: translate(-50%, -50%) rotate(45deg);
            top: 50%;
            left: 50%;
          }
          &:after {
            content: "";
            position: absolute;
            background: #fff;
            width: 2px;
            height: 100%;
            transform: translate(-50%, -50%) rotate(-45deg);
            top: 50%;
            left: 50%;
          }
        }
      }
    }
  }
}
main {
   
  &.longin {
    height: auto;
    margin-bottom: 0;
    .logo_wrap {
      width: 100%;
      text-align: center;
      padding: 6vh 0 0 0;
      .logo {
        width: 119px;
        height: 45px;
        background: url(./../images/longin/logo.png) no-repeat;
        background-size: 100%;
        display: inline-block;
      }
    }
    .login_wrap {
      padding: 0 30px 0;
      margin: 30px 0 0 0;
      .clear_wrap {
        overflow: auto;
        margin: 0 0 10px 0;
        button {
          &.clear {
            color: #364aba;
            border-radius: 4px;
            border: 1px solid #b9bfdc;
            background: #fff;
            padding: 5px 10px 5px;
            font-size: 16px;
            line-height: 16px;
            float: right;
          }
        }
      }
      ul {
        &.input_wrap {
          margin: 0 0 10px 0;
          li {
            width: 100%;
            position: relative;
            &:first-child {
              margin: 0 0 10px 0;
            }
            input {
              width: 100%;
              line-height: 30px;
              position: relative;
              border: 1px solid #b9bfdc;
              border-radius: 4px;
              padding: 5px 0 5px 40px;
              color: #4d515d;
              font-size: 16px;
              &::placeholder {
                color: #4d515d;
              }
            }
            p,
            span {
              display: inline-block;
              position: absolute;
            }
            span {
              width: 13px;
              height: 13px;
              background: url(./../images/longin/input_icon.png) no-repeat;
              background-size: 200%;
              left: 14px;
              top: 50%;
              transform: translateY(-50%);
              &.i2 {
                background-position: -13px 0;
              }
            }
          }
        }
      }
      .password_wrap {
        overflow: auto;
        line-height: 24px;
        margin: 0 0 20px 0;
        p {
          color: #fff;
          display: inline-block;
          line-height: 24px;
          &.re {
            float: left;
            input {
              display: none;
              &:checked + label {
                //   background: #000;
                &:before {
                  content: "";
                  position: absolute;
                  width: 9px;
                  height: 13px;
                  border-style: solid;
                  border-width: 0px 3px 3px 0px;
                  border-color: transparent #000 #000 transparent;
                  top: 20%;
                  left: 55%;
                  transform: translate(-50%, -50%) rotate(45deg);
                }
              }
            }
            label {
              width: 16px;
              height: 16px;
              background: #fff;
              border: 1px solid #b9bfdc;
              border-radius: 4px;
              display: inline-block;
              line-height: 24px;
              vertical-align: text-bottom;
              position: relative;
            }
          }
          &.forget {
            float: right;
          }
        }
      }
      .btn_wrap {
        button {
          width: 100%;
          text-align: center;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
          border-radius: 8px;
          border: none;
          line-height: 42px;
          padding: 3px 0 0 0;
          position: relative;
          overflow: hidden;
          .bar {
            position: absolute;
            left: 0;
            top: 0;
            width: 26%;
            height: 100%;
            background: linear-gradient(to right, #6d81ea 0%, #4960d5 100%);
            border-radius: 0 12px 12px 0;
            &:before {
              content: "";
              position: absolute;
              right: 12px;
              top: 50%;
              -webkit-transform: translateY(-50%);
              -ms-transform: translateY(-50%);
              transform: translateY(-50%) rotate(90deg);
              width: 20px;
              height: 20px;
              background: url(./../images/icon/arrows_blue.png) no-repeat;
              background-size: 100%;
            }
          }
          &:first-child {
            margin: 0 0 10px;
          }
          &.blue {
            background: #5e70cc;
          }
          &.gold {
            background: linear-gradient(to right, #b4865d 0%, #e9c4a2 100%);
          }
        }
      }
      .other_wrap {
        text-align: center;
        margin: 30px 0 0 0;
        li {
          display: inline-block;
          width: 90px;
          height: 90px;
          line-height: 90px;
          border-radius: 100px;
          background: rgba(0, 0, 0, 0.6);
          &:first-child{
            margin: 0 30px 0 0;
          }
          .wrap{
            display: inline-block;
            line-height: 66px;
            vertical-align: middle;
          }
          span,p{
              display: block;
          }
          p{
              color: #fff;
              font-size: 16px;
              line-height: 16px;
          }
          span{
            background: url(./../images/longin/other_icon.png) no-repeat;
            background-size: 200%;
            width: 50px;
            height: 50px;
            margin: 0 auto;
            &.i2{
                background-position: -50px 0;
            }
          }
        }
      }
    }
  }
}
.BG {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url(./../images/longin/BG.jpg) no-repeat;
  background-size: cover;
  z-index: -1;
  pointer-events: none;
}
