div {
  &.window_double_mode {
      z-index: 200;
      position: fixed;
      content: "";
      width: 100vw;
      height: 100vh;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.4);
      display: flex;
      align-items: flex-end;
    &.active {  }
      
      div {
        &.all_box {
         width: 100%;
          div {
            &.double_mode {
              position: relative;
              height: 8vh;
              transition: all 0.3s linear;
              span {
                &.box {
                  div {
                    &.balance {
                      span {
                        &.double_arrow {
                          transform: rotate(180deg);
                        }
                      }
                    }
                  }
                }
              }
            }
            &.content {
              width: 100%;
              position: relative;
              max-height: 68vh;
              background-color: #fff;
              overflow-y: scroll;
              ul {
                width: 100%;

                li {
                  position: relative;
                  height: auto;
                  div{
                    display: inline-block;
                  }
                  &.the_detail,
                  &.the_total{
                    padding: 1.5vh 5vw 1.5vh 10vw;
                    line-height: 10vh;
                    div{
                      &.left_padding{
                        position: absolute;
                        transform: translateY(-50%);
                        height: 100%;
                        width: 10vw;
                        top: 50%;
                        left: 0;
                        &.close{
                          &:before,
                          &:after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            background-color: #838ba0;
                            width: 2px;
                            height: 18px;
                            border-radius: 100px;
                          }
                          &:before{
                            transform: translate(-50%,-50%) rotate(45deg);
                          }
                          &:after{
                            transform: translate(-50%,-50%) rotate(-45deg);
                          }
                        }
                      }
                      &.data{
                        line-height: 1;
                        padding: 0 0 0 3px;
                        vertical-align: middle;
                       
                        span{
                          display: inline-block;
                          line-height: 1;
                          &.title{
                            position: relative;
                            width: 100%;
                            padding: 0 0 0 3px;
                            // border-left: 2px solid #3348b8 ;
                            font-weight: bold;
                            font-size: 2.3vh;
                            margin: 0 0 3px 0;
                            &:before{
                              content:'';
                              position: absolute;
                              transform: translate(0,-50%);
                              top: 35%;
                              left: 0%;
                              width: 2px;
                              height: 100%;
                              background: #3348b8;
                            }
                            span{
                              display: inline-block;
                              margin: 0 0 0 13px;
                              font-weight: normal;
                            }
                          }
                          &.mid{
                            width: 100%;
                            font-size: 1.7vh;
                            font-weight: normal;
                            margin: 0 0 3px 0;
                          }
                          &.bottom{
                            color:#838ba0;
                            font-size: 1.7vh;
                            span{
                              display: inline-block;
                              margin: 0 6px 0 6px;
                            }
                          }
                          &.title,&.mid{
                            color:#4d515d;
                          }
                          &.title,&.mid,&.bottom{
                            padding: 0 0 0 8px;
                          }
                        }
                      }
                    }
                  }
                  &.the_detail{
                    width: 100%;
                    height: auto;
                    line-height: 10vh;
                    border-bottom: 2px solid #e0e3f3;
                    div{
                      &.right_total{
                        white-space: nowrap;
                        float: right;
                        
                        span{
                          font-size: 2vh;
                          display: inline-block;
                        }
        
                        text-align: center;
                        line-height: 10vh;
                        font-size: 2.5vh;
                        color: #4d515d;
                      }
                      &.data{
                        width: 65vw;
                      }
                  }
                 
                  }
                  &.the_total{
                    background-color: #f6f8ff;
                    div{
                      &.data{
                        width: 40vw;
                        span{
                          &.title{
                            width: 100%;
                          }
                          &.mid{
                            width: 100%;
                            span{
                              margin: 0 3px 0 3px;
                            }
                            p{
                              display: inline-block;
                              color: #d46572;
                            }
                          }
                          &.bottom{
                            span{
                              width: 12px;
                              height: 12px;
                              background: url(../images/arrows_blue.png)no-repeat;
                              background-size: cover;
                              background-position: center center;
                            }
                          }
                        }
                      }
                      &.right_total{
                        float: right;
                        line-height: 10vh;
                        text-align: right;
                        display: flex;
                        flex-direction: column;
                        input{
                          text-align: center;
                          width: 40vw;
                          border:2px solid #e0e3f3;
                          border-radius: 4px;
                          color: #000;
                          line-height: 2.3vh;
                          vertical-align: top;
                          padding: 5px;
                          &::placeholder{
                            color: #ced1e0;
                            font-size: 1.2vh;
                          }
                        }
                        span{
                          color:#838ba0;
                          &.total{
                            display: inline-block;
                            width: 100%;
                            line-height: 1;
                            font-size: 1.7vh;
                            margin: 5px 0 0 0;
                            span{
                              margin: 0 5px;
                            }
                            p{
                              display: inline-block;
                            }
                          }
                          
                        }
                      }
                    }
                  }
                  &.computer{
                    width: 100%;
                    height: 35vh;
                    background: #fbfcff;
                    padding: 1.5vh 8vw 1.5vh 5vw;
                    div{
                      &.inner{
                        
                        width: calc(100vw - 13vw);
                        height: calc(35vh - 3vh);
                        display: flex;
                        white-space:nowrap;
                        span,p{
                          display: inline-block;
                        }
                        span{
                          &.nums{
                            width: 70%;
                            height: 100%;
                            flex-wrap: wrap;
                            display: flex;
                           
                            p{
                              width: calc(100% / 3 - 2px);
                              background: #fff;
                              color: #4d515d;
                              text-align: center;
                              line-height: calc((35vh - 3vh) / 4 - 2px);
                              vertical-align: middle;
                              margin: 0 2px 2px 0;
                              font-size: 3.5vh;
                              font-weight: bold;
                              border-radius:8px;
                              border: 1px solid #f7f8ff;
                            }
                          }
                          &.uses{
                            width: 30%;
                            height: 100%;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            p{
                              background: #f6f8ff;
                              width: 100%;
                              height: 49%;
                              border-radius:8px;
                              border: 1px solid #f7f8ff;
                              position: relative;
                              &.delete{
                                &:before{
                                  content:'';
                                  position: absolute;
                                  transform: translate(-50%,-50%);
                                  left: 50%;
                                  top: 50%;
                                  width: 31px;
                                  height: 26px;
                                  background: url(../images/delete.png)no-repeat;
                                  background-position: center center;
                                  background-size: cover;
                                }
                              }
                              &.back{
                                font-weight: bold;
                                color: #4d515d;
                                line-height: calc(32vh *0.49);
                                text-align: center;
                                font-size: 6vw;
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
                  
                
              }
            }
            &.footer {
              width: 100%;
              position: relative;
              height: 13vh;
              background-color: #fff;
              ul {
                width: 100%;
                height: 100%;
                padding: 2vh 5vw;
                white-space: nowrap;
                display: flex;
                justify-content: space-between;
                li {
                  text-align: center;
                  line-height: 10vh;
                  &:first-child {
                    width: 30%;

                    span {
                      position: relative;
                      width: 13px;
                      height: 13px;
                      display: inline-block;
                      &.cross {
                        &:before,
                        &:after {
                          content: "";
                          position: absolute;
                          top: 50%;
                          left: 50%;

                          background-color: #838ba0;
                          width: 2px;
                          height: 100%;
                          border-radius: 100px;
                        }
                        &:before {
                          transform: translate(-50%, -50%) rotate(0deg);
                        }
                        &:after {
                          transform: translate(-50%, -50%) rotate(90deg);
                        }
                      }
                    }
                    p {
                      display: inline-block;
                      color: #838ba0;
                      font-size: 16px;
                    }
                  }
                  &:last-child {
                    width: 60%;
                    background-color: #3348b8;
                    border-radius: 7px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    div,
                    span {
                      display: inline-block;
                      line-height: 1;
                    }
                    span {
                      color: #fff;
                      &.title {
                        font-size: 2.5vh;
                        font-weight: bold;
                        margin: 0 0 5px 0;
                      }
                    }
                    div {
                      span {
                        &:first-child {
                          font-size: 2vh;
                        }
                        &:last-child {
                          font-size: 1.2vh;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
  
  
  }

   
   
  
  
}
