header {
  &.double_inner {
    height: 28vh;
    background: url(../images/double_inner/header_bg.png) no-repeat;
    background-size: cover;
    background-position: center center;
    &.esp{
      background: url(../images/double_inner/header_bg_esp.png)no-repeat;
      background-size: 100%;
    }
    &.nba{
      background: url(../images/double_inner/header_bg_basketball.png)no-repeat;
      background-size: 100%;
    }
    ul {
      background: none;
      border: none;
      box-shadow: none;
      &.market {
        position: relative;
        white-space: nowrap;
        li {
          &.back {
            &:before,
            &:after {
              background-color: #fff;
            }
          }
          &.title {
            color: #fff;
            font-size: 2.5vh;
            span {
              border-color: #fff transparent transparent transparent;
            }
          }
        }
      }
    }
    section {
      height: 27.5vh;
      position: relative;
      article {
        &.game_time {
          position: absolute;
          transform: translate(-50%, -50%);
          left: 50%;
          top: 33%;
          text-align: center;
          span,
          p {
            color: #fff;
          }
          span {
            font-size: 1.2vh;
          }
          p {
            font-size: 3.3vh;
            font-weight: bold;
          }
        }
        &.game_data {
          width: 100%;
          height: 15vh;
          padding: 0 5vw;
          div {
            width: 45%;
            display: inline-block;
            height: 100%;
            line-height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            &:first-child {
              float: left;
            }
            &:last-child {
              float: right;
            }
            span {
              display: inline-block;
              &.wrap {
                text-align: center;
          //串關換對抗double_vs
                span {

                  //足球
                  &.soccer{
                    width: 26px;
                    height: 30px;
                    margin: 0 0 6px 0;
                    background: url(../images/market/cs.png)no-repeat;
                    background-size: 800%;
                  }
                  &.country1 {
                   background-position: -52px 0;
                  }
                  &.country2 {
                    background-position: -78px 0;
                  }
                  //電競
                  &.esp{
                    width: 40px;
                    height: 40px;
                    margin: 0 0 6px 0;
                    background: url(../images/double_inner/esp_t.png)no-repeat;
                    background-size: 200%;
                  }
                  &.t1{
                    background-position: 0px 0;
                  }
                  &.t2{
                    background-position: -40px 0;
                  }
                  //籃球
                  &.nba{
                    width: 40px;
                    height: 40px;
                    margin: 0 0 6px 0;
                    background: url(../images/double_inner/nba_t.png)no-repeat;
                    background-size: 200%;
                  }
                  &.t1{
                    background-position: 0px 0;
                  }
                  &.t2{
                    background-position: -40px 0;
                  }

                }
                p {
                  text-align: center;
                  color: #fff;
                  font-size: 2.5vh;
                }
              }
            }
          }
        }
        &.game_live {
          height: 8vh;
          line-height: 8vh;
          text-align: center;
          div {
            &.wrap {
              line-height: 4vh;
              vertical-align: middle;
              width: 70%;
              height: 4vh;
              display: inline-block;
              background: rgba(0, 0, 0, 0.4);
              border-radius: 30px;
              white-space: nowrap;
              padding: 0 5vw;

              div {
                display: inline-block;
                width: 50%;
                height: 100%;
                position: relative;
                p,
                span {
                  display: inline-block;
                }
                p {
                  color: #fff;
                  font-size: 2vh;
                  line-height: 1;
                  vertical-align: middle;
                }
                span {
                  width: 15px;
                  height: 13px;
                  margin: 0 5px 0 0;
                  &.live_tv {
                    background: url(../images/double_inner/live_tv.png)
                      no-repeat;
                    background-position: center center;
                    background-size: cover;
                  }
                  &.live_game {
                    width: 18px;
                    background: url(../images/double_inner/live_game.png)
                      no-repeat;
                    background-position: center center;
                    background-size: cover;
                  }
                }
                &:first-child {
                  border-right: 2px solid #303030;
                  text-align: left;
                }
                &:last-child {
                  text-align: right;
                }
              }
            }
          }
        }
        &.game_type {
          height: 4.5vh;
          line-height: 4.5vh;
          background: #fff;
          padding: 0 8vw 0 5vw;
          display: flex;
          justify-content: space-between;
          box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
          span {
            color: #838ba0;
            display: inline-block;
            height: 100%;
            font-weight: bold;
            pointer-events: all;
            line-height: 4.5vh;
            &.active {
              border-bottom: 2px solid #1b255c;
              color: #1b255c;
            }
          }
        }
        &.game_refresh {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 77%;
          left: 92%;
          line-height: 1.7vh;
          pointer-events: all;
          white-space: nowrap;
          p,
          span {
            display: inline-block;
          }
          span {
            background: url(../images/icon/refresh_w.png) no-repeat;
            background-position: center center;
            background-size: cover;
            width: 18px;
            height: 18px;
            line-height: 1;
            vertical-align: middle;
            margin: 0 3px 0 0;
          }
          p {
            font-size: 1.7vh;
            font-weight: normal;
            color: #fff;
            line-height: 18px;
            vertical-align: middle;
          }
        }
      }
    }
  }
}
main {
  &.double_inner_page {
    margin-top: calc(32.5vh + 10px);
    height: calc(100vh - 32.5vh - 8vh - 10px);
    margin-bottom: 8vh;
    overflow-y: scroll;
    ul {
      padding: 0 2vw;
      li {
        background: #fff;
        width: 100%;
        margin: 0 0 10px 0;
        // height: 5vh;
        div {
          height: 38px;
          margin: 0 8px 0 8px;
          &.title {
            position: relative;
            height: 38px;
            border-bottom: 1px solid #e0e3f3;
            margin: 0 8px 5px 8px;
            padding: 12px 0 0 0;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            p {
              margin: 0 0 0 10px;
              line-height: 1;
              font-weight: bold;
              color: #1b255c;
            }
            span {
              display: inline-block;
              width: 15px;
              height: 15px;

              background: url(../images/double_inner/pushpin.png) no-repeat;
              background-position: center center;
              background-size: cover;
            }
            &:before {
              content: "";
              position: absolute;
              transform: translateY(-50%);
              top: 50%;
              left: 0;
              width: 4px;
              height: 16px;
              border-radius: 30px;
              background-color: #b5c1ff;
            }
          }
          &.content {
            padding: 0 0 5px 0;
            height: 45px;
            display: flex;
            justify-content: space-between;
            &.form_2{
                span{
                    width: calc(100% / 2 - 3px);
                }
            }
            &.form_3 {
              span {
                width: calc(100% / 3 - 3px);
              }
            }
            &.form_4 {
              span {
                width: calc(100% / 4 - 4px);
              }
            }
            span {
              display: inline-block;
              height: 100%;
              background: #f6f8ff;
              line-height: 40px;
              p {
                font-size: 14px;
                line-height: 1;
                display: inline-block;
                vertical-align: middle;
                color: #4d515d;
                
                &.fr {
                  float: right;
                  line-height: 40px;
                }
                &.fl{
                  float: left;
                  line-height: 40px;
                }
                &.gray{
                  color: #838ba0;
                }
                &.mr{
                  margin: 0 8px 0 0;
                }
              }
              &.between {
                padding: 0 8px 0 16px;
                white-space: nowrap;
              }
              &.center {
                text-align: center;
              }
              &.between_2 {
               padding: 0 4px 0;
               white-space: nowrap;
              }
              &.center_right{
                  text-align: center;
                  p {
                    &:first-child {
                      margin: 0 0 0 5px;
                    }
                    &:last-child{
                        margin: 0 5px 0 0;
                        float: right;
                        line-height: 45px;
                    }
                  }
              }
            }
          }
        }
      }
    }
  }
}
