.icon_roll_ball.icon_roll_ball.icon_roll_ball.icon_roll_ball{
    display: inline-block;
    background: url(../images/market/roll_ball.gif) no-repeat;
    background-size: 100%;
    width: .9375rem;
    height: .9375rem;
    line-height: .9375rem;
    position: relative;
    vertical-align: middle;
}