aside {
  &.teach {
    .content {
      &.teach_bs {
        height: calc(100vh - (13.1vh + 42px));
        overflow-y: scroll;
        padding: 0 0 100px 0;
        .card {
          .vs_area {
            .wrap {
              align-items: center;
            }
          }
          .question_wrap {
            padding: 0 15px 0 15px;
            margin: 20px 0 0 0;
            .question {
              color: #4d515d;
              div {
                display: inline-block;
                &.icon_1 {
                  background: url(../images/teach/c1.png) no-repeat;
                  background-size: 100%;
                  background-position: center;
                  width: 15px;
                  height: 20px;
                  margin: 0 5px 0 5px;
                }
                &.icon_2 {
                  background: url(../images/teach/c2.png) no-repeat;
                  background-size: 100%;
                  background-position: center;
                  width: 15px;
                  height: 15px;
                  margin: 0 5px 0 5px;
                }
                &.icon_3 {
                  background: url(../images/teach/c3.png) no-repeat;
                  background-size: 100%;
                  background-position: center;
                  width: 15px;
                  height: 15px;
                  margin: 0 5px 0 5px;
                }
                &.icon_4 {
                  background: url(../images/teach/c4.png) no-repeat;
                  background-size: 100%;
                  background-position: center;
                  width: 15px;
                  height: 15px;
                  margin: 0 5px 0 5px;
                }
                &.blue {
                  color: #4d61c6;
                  font-size: 20px;
                }
              }
              span {
                &.type {
                  font-size: 12px;
                  line-height: 1;
                  display: inline-block;
                  vertical-align: text-bottom;
                  background: #7b8bd7;
                  color: #fff;
                  padding: 2px 3px 2px 3px;
                  border-radius: 3px;
                }
              }
            }
            .choice_wrap {
              margin: 20px 0 0 0;
              .choice {
                line-height: 55px;
                &:first-child {
                  margin: 0 0 10px 0;
                }
                div {
                  line-height: 1;
                  display: inline-block;
                  &.option {
                    vertical-align: middle;
                    margin: 0 10px 0 0;
                    color: #838ba0;
                    width: 16px;
                    height: 16px;
                    position: relative;
                    &.a {
                      &:before {
                        content: "A.";
                        color: #838ba0;
                      }
                    }
                    &.b {
                      &:before {
                        content: "B.";
                        color: #838ba0;
                      }
                    }
                    &.fail {
                      background: #f30d0d;
                      width: 20px;
                      height: 20px;
                      border-radius: 100px;
                      &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        height: 15px;
                        width: 2px;
                        background: #fff;
                      }
                      &:after {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(-45deg);
                        height: 15px;
                        width: 2px;
                        background: #fff;
                      }
                    }
                    &.success {
                      background: #429cff;
                      width: 20px;
                      height: 20px;
                      border-radius: 100px;
                      &:before {
                        content: "";
                        position: absolute;
                        top: 45%;
                        left: 50%;
                        transform: translate(-50%, -50%) rotate(45deg);
                        border-right: 2px solid #fff;
                        border-bottom: 2px solid #fff;
                        height: 12px;
                        width: 6px;
                        background: transparent;
                      }
                    }
                  }
                  &.c_content {
                    vertical-align: middle;
                    background: #ebf4fe;
                    padding: 10px 40px 10px 40px;
                    border-radius: 5px;
                    text-align: center;
                    &:hover,
                    &:active,
                    &.active {
                      background: #d9e0ff;
                    }
                    p {
                      position: relative;
                      &:first-child {
                        color: #838ba0;
                        margin: 0 0 3px 0;
                      }
                      &.red_up {
                        color: #f30d0d;
                        &:before {
                          content: "";
                          position: relative;
                          width: 0;
                          height: 0;
                          border-style: solid;
                          border-width: 0 5px 5px 5px;
                          border-color: transparent transparent #f30d0d
                            transparent;
                          display: inline-block;
                          vertical-align: middle;
                          margin: 0 5px 0 -5px;
                        }
                      }
                      &.green_down {
                        color: #04d052;
                        &:before {
                          content: "";
                          position: relative;
                          width: 0;
                          height: 0;
                          border-style: solid;
                          border-width: 5px 5px 0px 5px;
                          border-color: #04d052 transparent transparent
                            transparent;
                          display: inline-block;
                          vertical-align: middle;
                          margin: 0 5px 0 -5px;
                        }
                      }
                    }
                  }
                }
              }
            }
            .result_wrap {
              margin: 30px 0 0 0;
              padding: 15px 0 0 0;
              position: relative;
              &:before{
                content: '';
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                width: 94vw;
                background: #e0e3f3;
                height: 1px;
              }
              span {
                display: inline-block;
              }
              .fail {
                color: #f30d0d;
                line-height: 20px;
                display: none;
                &.active{
                  display: block;
                }
                .icon {
                  background: url(../images/teach/fail.png) no-repeat;
                  background-size: 100%;
                  background-position: center;
                  width: 20px;
                  height: 20px;
                  line-height: 1;
                  vertical-align: middle;
                  margin: 0 5px 0 0;
                }
              }
              .success {
                color: #429cff;
                display: none;
                &.active{
                  display: block;
                }
                .icon {
                  background: url(../images/teach/success.png) no-repeat;
                  background-size: 100%;
                  background-position: center;
                  width: 20px;
                  height: 20px;
                  line-height: 1;
                  vertical-align: middle;
                  margin: 0 5px 0 0;
                }
              }
              .answer{
                color: #4d515d;
                margin: 20px 0 0 0;
                display: none;
                &.active{
                  display: block;
                }
                div{
                  display: inline-block;
                  &.blue{
                    color: #4d61c6;
                  }
                }
              }
            }

          }

          .button_wrap {
            margin: 30px 0 0 0;
            display: none;
            &.active{
              display: block;
            }
            button {
              width: 100%;
              border-radius: 8px;
              line-height: 1;
              padding: 15px 0 15px 0;
              font-size: 20px;
              font-weight: bold;
              position: relative;
              margin: 0 0 20px 0;
              &:first-child {
              }
              &.deep_blue {
                color: #fff;
                background: linear-gradient(to right, #9ba8e4 0%, #495dc4 100%);
                border: none;
              }
              &.white_blue {
                color: #4a5ec5;
                border: 1px solid #4a5ec5;
                background: #fff;
              }
              &.blue_arrow {
                border: none;
                background: #fff;
                color: #4a5ec5;
                display: inline-block;
                &:after {
                  position: relative;
                  content: "";
                  width: 15px;
                  height: 15px;
                  display: inline-block;
                  line-height: 15px;
                  vertical-align: baseline;
                  background: url(../images/arrow_double_blue.png) no-repeat;
                  background-size: 100%;
                  background-position: center;
                  margin: 0 -8px 0 8px;
                }
              }
            }
          }
        }
      }
    }
  }
}
