aside {
  &.teach {
    padding: 0 0 100px 0;
    width: 100vw;
    height: calc(100vh - 5vh - 10px);
    background: #f7f7f7;
    z-index: 0;
    display: inline-block;
    position: fixed;
    overflow-y: scroll;
    .title{
        padding: calc(5vh + 10px) 50px 0 50px;
        background: #fff;
        font-size: 18px;
        box-shadow: 0px 1px 3px 1px #e7e7e7;
        div{
            color: #838ba0;
            display: inline-block;
            line-height: 40px;
            width: 80px;
            text-align: center;
            &:last-child{
                float: right;
            }
            &.active,
            &:hover,
            &.hover{
                color: #4d515d;
                border-bottom: 2px solid #7c87bc;
            }
        }
    }
  }
}
