aside{
    &.event{
        .event_content{
            padding: 0 4vw;
            background: #fff;
            margin: 10px 0 0 0;
            .card{
                background: url(../../images/event/banner_1.png)no-repeat;
                background-size: cover;
                background-position: center;
                width: 92vw;
                height: 145px;
                position: relative;
                .new{
                    background: #d14040;
                    background: linear-gradient( to bottom ,#e45252 0% , #b43434 100%);
                    width: auto;
                    line-height: 1;
                    clip-path: polygon(100% 0%, 90% 50%, 100% 100%, 0 100%, 0% 50%, 0 0);
                    color: #fff;
                    font-style: italic;
                    display: inline-block;
                    padding: 5px 20px 4px 15px;
                    font-size: 12px;
                    position: absolute;
                    top: 8px;
                    left: -3px;
                }
                .time_wrap{
                    background: #fff;
                    position: absolute;
                    bottom: 9px;
                    font-size: 12px;
                    color: #4d515d;
                    border-radius: 0 12px 12px 0;
                    padding: 0 12px 2px 12px;
                    .icon{
                        background: url(../../images/event/clock.png)no-repeat;
                        background-size: 100%;
                        background-position: center;
                        width: 12px;
                        height: 12px;
                        display: inline-block;
                        line-height: 1;
                        vertical-align: middle;
                        margin: 0 3px 0 0;
                    }
                    p{
                        display: inline-block;
                        line-height: 1;
                        vertical-align: middle;
                    }
                }
                .detail_wrap{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    background: linear-gradient(to bottom ,#546ce6 0%, #1c3380 100%);
                    color: #fff;
                    border-radius: 8px 0 8px 0;
                    font-size: 12px;
                    letter-spacing: 1px;
                    display: flex;
                    padding: 5px 5px 5px 10px;
                    width: 82px;
                    p{
                        line-height: 1;
                        margin: 0 5px 0 0;
                        width: 52px;
                        text-align: center;
                    }
                    .icon{
                        background: url(../../images/arrows_blue.png)no-repeat;
                        background-size: 100%;
                        background-position: center;
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }
    }

}