aside{
    &.my_windows_mb {
      margin: calc(5vh + 10px) 0 0 0;
        width: 100vw;
        height: calc(100vh - 5vh - 10px);
        background: #f7f7f7;
        z-index: 0;
        display: inline-block;
        position: fixed;
        div {
          &.mb_content {
            background: #fff;
            margin: 1vh 3vw 0 3vw;
            width: 94vw;
            border-radius: 8px;
            box-shadow: 0 0 5px 1px #ececec;
            div {
              &.title {
                width: 100%;
                line-height: 25vw;
                padding: 5vw 0 5px 5vw;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                position: relative;
                p {
                  display: inline-block;
                  line-height: 1;
                  &.total {
                    color: #4d515d;
                    font-size: 4vw;
                    margin: 0 0 3vw 0;
                  }
                  &.num {
                    color: #4d515d;
                    font-size: 6.5vw;
                    font-weight: bold;
    
                    span {
                      font-size: 3vw;
                    }
                  }
                }
                div {
                  &.save_money {
                    position: absolute;
                    right: 5vw;
                    bottom: 5px;
                    line-height: 9vw;
                    display: inline-block;
                    width: 20vw;
                    text-align: center;
                    background: linear-gradient(to right, #9aa6e3 0%, #495dc5 100%);
                    border-radius: 30px;
                    box-shadow: 0 0 12px 0px #a7a5a5;
                    p {
                      color: #fff;
                      font-size: 4vw;
                    }
                  }
                }
              }
              &.btns {
                text-align: center;
                padding: 12vw 10vw 4vw 8vw;
                div {
                  width: 60px;
                  display: inline-block;
                  text-align: center;
                  line-height: 1;
                  p {
                    color: #4d515d;
                    font-size: 4vw;
                  }
                  span {
                    display: inline-block;
                    background: url(../images/my_mb_icons.png) no-repeat;
                    background-size: 318%;
                    width: 38px;
                    height: 35px;
                  }
                  &.transfer {
                    float: left;
                    position: relative;

                    span {

                      &.transfer_icon {

                      }
                    }
                  }
                  &.take_out {
                    position: relative;
                    margin: 0 -8vw 0 -30px;
                    span {
                      &.take_out_icon {
                        background-position: -40px 0;
                      }
                    }
                  }
                  &.card {
                    float: right;
                    position: relative;
                    span {
                      &.card_icon {
                        background-position: -82px 0;
                      }
                    }
                  }
                }
              }
              &.footer {
                overflow: auto;
                border-top: 1px solid #e0e3f3;
                padding: 4vw 11vw 5vw 5vw;
                line-height: 4vw;
                position: relative;
                p {
                  display: inline-block;
                  cursor: pointer;
                  font-size: 4vw;
                  &.money_detail {
                    color: #4d515d;
                    float: left;
                  }
                  &.balance {
                    color: #838ba0;
                    float: right;
                    span {
                      &.cross_icon {
                        display: inline-block;
                        width: 4vw;
                        height: 4vw;
                        background: url(../images/icon/cross.png) no-repeat;
                        background-size: 100%;
                        background-position: center center;
                        vertical-align: baseline;
                        border-radius: 2px;
                        position: absolute;
                        right: 5vw;
                        bottom: 5.5vw;
                      }
                    }
                  }
                }
              }
            }
          }
          &.mb_event {
            margin: 5vw 3vw 0 3vw;
            width: 94vw;
            div {
              &.title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding: 0 4vw 0 2vw;
                &:before {
                  content: "";
                  width: 4px;
                  height: 4vw;
                  position: absolute;
                  border-radius: 8px;
                  top: 40%;
                  left: 0%;
                  transform: translate(0%, -50%);
                  background-color: #b5c1ff;
                }
                h1,
                p {
                  display: inline-block;
                }
                h1 {
                  font-weight: bold;
                  color: #525661;
                  font-size: 5vw;
                  position: relative;
                }
                p {
                  font-size: 4vw;
                  color: #7181d4;
                  line-height: 4vw;
                  position: relative;
                  span {
                    display: inline-block;
                    &.arrow {
                      width: 2vw;
                      height: 2vw;
                      background: url(../images/icon/arrow_lg.png) no-repeat;
                      background-size: 100%;
                      background-position: center center;
                      margin: 0 0 0 1vw;
                      position: absolute;
                      top: 0.5vw;
                    }
                  }
                }
              }
              &.events {
                display: flex;
                justify-content: space-between;
                line-height: 1;
                padding: 5vw 3vw 0 3vw;
                div {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  span {
                    display: inline-block;
                    margin: 0 0 2vw 0;
                    background: url(../images/my_mb_evetnts.png)no-repeat;
                    background-size: 385%;
                    width: 30px;
                    height: 30px;
                  }
                  p {
                    display: inline-block;
                    color: #838ba0;
                    font-size: 14px;
                  }
    
                  &.level_up {
                    span {
                     background-position: 3px 0;
                    
                    }
                  }
                  &.sign_in {
                    span {
                      background-position: -28px 0;
                     
                    }
                  }
                  &.beginner_mission {
                    span {
                      background-position: -58px 0;
                     
                    }
                  }
                  &.gifts {
                    span {
                      background-position: -88px 0;
                    }
                  }
                }
              }
            }
          }
          &.mb_banner {
            padding: 0 3vw;
            margin: 10vw 0 0 0;
            div {
              &.banner {
                display: flex;
                justify-content: flex-end;
                align-items: center;
                background: #ccd5ff;
                height: 18vw;
                border-radius: 40px;
                padding: 0 5vw 0 0;
                div {
                  &.text_area {
                    display: flex;
                    flex-direction: column;
    
                    h1 {
                      color: #5566c4;
                      font-size: 4.5vw;
                      margin: 2vw 0 0 0;
                      letter-spacing: 0.5px;
                    }
                    p {
                      color: #5566c4;
                      font-size: 3vw;
                      margin: -1vw 0 0 0;
                    }
                  }
                  &.big_gift {
                    width: 29vw;
                    height: 18vw;
                    background: url(../images/icon/big_gift.png) no-repeat;
                    background-size: 100%;
                    background-position: center;
                    margin: 0 0 0 2vw;
                  }
                }
              }
            }
          }
          &.mb_record {
            margin: 5vw 3vw 0 3vw;
            width: 94vw;
            div {
              &.title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding: 0 4vw 0 2vw;
                &:before {
                  content: "";
                  width: 4px;
                  height: 4vw;
                  position: absolute;
                  border-radius: 8px;
                  top: 40%;
                  left: 0%;
                  transform: translate(0%, -50%);
                  background-color: #b5c1ff;
                }
                h1,
                p {
                  display: inline-block;
                }
                h1 {
                  font-weight: bold;
                  color: #525661;
                  font-size: 5vw;
                  position: relative;
                }
                p {
                  font-size: 4vw;
                  color: #838ba0;
                  line-height: 4vw;
                  position: relative;
                  span {
                    display: inline-block;
                    &.arrow {
                      width: 2vw;
                      height: 2vw;
                      background: url(../images/icon/arrow_lg.png) no-repeat;
                      background-size: 100%;
                      background-position: center center;
                      margin: 0 0 0 1vw;
                      position: absolute;
                      top: 0.5vw;
                    }
                  }
                }
              }
              &.content {
                text-align: center;
                margin: 5vw 0 0 0;
                p {
                  color: #838ba0;
                  font-size: 3vw;
                }
              }
            }
          }
        }
      }
}