aside {
  &.help_board {
    margin: calc(5vh + 10px) 0 0 0;
    width: 100vw;
    height: calc(100vh - 5vh - 10px);
    background: #f7f7f7;
    z-index: 0;
    display: inline-block;
    position: fixed;
    overflow-y: scroll;
    padding: 0 0 100px 0;
    .board_content {
      .title {
        padding: 20px 4vw 15px 4vw;
        color: #4d515d;
        p {
          color: #838ba0;
          display: inline-block;
          font-size: 14px;
        }
      }
      .choice_q {
        background: #fff;
        padding: 20px 4vw 15px 4vw;
        color: #838ba0;
        line-height: 20px;
        position: relative;
        
        &:hover{
          .drow{
            display: inline;
          }
          .arrow{
            transform: rotate(90deg);
          }
        }
        .drow{
          display: none;
          position: absolute;
          left: 0;
          top: 55px;
          background: #fff;
          z-index: 1;
          width: 100%;
          box-shadow: 0 2px 5px 0 #dadada;
          border-radius: 0 0 20px 20px;
          li{
            padding: 20px 4vw 15px 4vw;
            border-bottom: 1px solid #e0e3f3;
            color: #4d515d;
            &:first-child{
              border-top: 1px solid #e0e3f3;
            }
            &:last-child{
              border-bottom:none;
            }
          }
        }
        .arrow {
          background: url(../images/arrow_lg.png);
          background-size: 100%;
          background-position: center;
          transform: rotate(-90deg);
          width: 10px;
          height: 16px;
          display: inline-block;
          vertical-align: top;
          float: right;
          transition: all 0.3s ease-in-out;
        }
      }
      textarea {
        width: 100%;
        border: none;
        border-bottom: 1px solid #e0e3f3;
        height: 200px;
        resize: none;
        padding: 20px 4vw 15px 4vw;
        &::placeholder {
          font-size: 14px;
          color: #838ba0;
        }
      }
      .import_image {
        background: #fff;
        padding: 20px 4vw 5px 4vw;
        margin: -7px 0 0 0;
        .top_wrap {
          .icon {
            background: url(../images/help/image_icon.png) no-repeat;
            background-size: 100%;
            background-position: center;
            width: 50px;
            height: 50px;
            display: inline-block;
          }
          p {
            display: inline-block;
            float: right;
            color: #838ba0;
            font-size: 15px;
          }
        }
        p {
          margin: 5px 0 0 0;
          color: #838ba0;
          display: inline-block;
          font-size: 15px;
        }
      }
    }
    button {
      border: none;
      border-radius: 8px;
      margin: 20px 4vw 0 4vw;
      width: 92vw;
      color: #fff;
      font-size: 18px;
      padding: 12px 0 12px 0;
      background: linear-gradient(to right, #9ba8e4 0%, #485cc4 100%);
    }
  }
}
